﻿@model Alexandria.Data.Game

@{
    ViewBag.Title = "Add a game to your collection";
}

<h2>Add a game to your collection</h2>

<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
    </span>
    <input id="gameSearch" type="text" class="form-control" placeholder="Enter a game title...">
</div>

<div id="searchResults"></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>