﻿@model Data.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayTimeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayTimeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAgeYears)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAgeYears)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOnShelf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOnShelf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
