﻿@model IEnumerable<Alexandria.Data.Game>

@{
    ViewBag.Title = "Index";
    var buttonClass = "btn btn-primary";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Add Game", "Add")
</p>
<table id="gamesTable" class="table table-condensed responsive table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumAgeYears)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var cssClass = item.IsOnShelf ? "" : "danger";
            <tr class="@(cssClass)">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPlayers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayTimeMinutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumAgeYears)
                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        @if (item.IsOnShelf)
                        {
                            <a asp-action="Play" asp-controller="Games" asp-route-area="Global" asp-route-id="@item.Id"
                               data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#alertHolder" title="Play"
                               class="glyphicon glyphicon-play @(buttonClass)"/>

                            <a asp-action="Lend" asp-controller="Games" asp-route-area="Global" asp-route-id="@item.Id"
                               data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#alertHolder" title="Lend"
                               class="glyphicon glyphicon-gift  @(buttonClass)"/>
                        }
                        else
                        {
                            <a asp-action="Result" asp-controller="Games" asp-route-area="Global" asp-route-id="@item.Id"
                               data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#alertHolder" title="Log Result"
                               class="glyphicon glyphicon-record  @(buttonClass)"/>

                            <a asp-action="CheckIn" asp-controller="Games" asp-route-area="Global" asp-route-id="@item.Id"
                               data-ajax="true" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#alertHolder" title="Check In"
                               class="glyphicon glyphicon-step-backward  @(buttonClass)"/>
                        }

                        @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = $"{buttonClass} glyphicon-pencil glyphicon", title="Edit" })
                        @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = $"{buttonClass} glyphicon glyphicon-list", title="View Details" })
                        @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = $"{buttonClass} glyphicon glyphicon-trash", title="Delete From Collection" })

                    </div>
                </td>
            </tr>
                   }
    </tbody>
</table>
