﻿@model Alexandria.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Alexandria: a board game library manager";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        <p class="h3 text-center">Hi there!  Thinking about playing a game?<br/>Tell me what kind of game you are looking for and I can help you search your library!</p>
    </div>
    <div class="row">
        <div class="form-group  pull-left">
            <label class="h2">Number of Players?</label>
            <input type="number" class="form-control" id="numberOfPlayersFilter" />
        </div>
        <div class="form-group pull-right">
            <label class="h2">Desired Playtime?</label>
            <input type="number" class="form-control" id="numberOfMinutesFilter" />
        </div>
    </div>

    <div id="tableContainer" hidden>
        <table id="homeGameTable" class="table table-condensed">
            <tbody>
                @foreach (var game in Model.Games)
                {
                    <tr data-max-players="@(game.MaxPlayers)" data-min-players="@(game.MinPlayers)" data-play-minutes="@(game.PlayTimeMinutes)">
                        <td>
                            @game.Title
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <p class="h3 text-center">Hi there!<br />Alexandria is a board game manager at its heart.  It's also a community for board game enthusiasts.<br/>If you've got a few games or over a hundred, Alexandria will make curating your collection a breeze!</p>
    </div>

    @Html.Partial("_Register", Model.RegisterVM)
}